@import 'global';

.ModalDialog {
    align-items: center;
    background-color: $white;
    border: 1rem solid $tsh-yellow;
    display: flex;
    flex-flow: column;
    height: $modal-dialog-height-mobile;
    justify-content: space-between;
    overflow-x: auto;
    overflow-y: auto;
    padding: 3rem 3rem 4rem;
    text-align: center;
    width: $modal-dialog-width-mobile;

    @include media-breakpoint-up(md) {
        height: $modal-dialog-height-desktop;
        padding: 4rem 4.5rem 5rem;
        width: $modal-dialog-width-desktop;
    }
}
