@import 'global';

.Title {
    @include media-breakpoint-up(md) {
        color: $tsh-black;
        font-family: $heading-font-family;
        font-size: 4rem;
        font-weight: 800;
        letter-spacing: .03rem;
        margin-bottom: 0;
        text-align: center;
    }
}

.CloseIcon {
    @include media-breakpoint-up(md) {
        display: block;
        position: absolute;
        right: 0;
        width: 3.2rem;
    }

    &:focus,
    &:active {
        box-shadow: 0 0 0 .3rem $tsh-blue;
        outline: none;
    }
}

.Aside {
    padding-left: container-padding(sm);
    padding-right: container-padding(sm);

    @include media-breakpoint-up(md) {
        padding-left: 0;
        padding-right: 0;
    }
}
